.coinExplain {
  -webkit-animation-name: explainAnimation;
  animation-name: explainAnimation;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes explainAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes explainAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
