.tradingBtnBox {
  padding: 20px 0;
}

.tradingBtn {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 800;
  background-color: #1058df;
  color: #fff;
  border-radius: 12px;
  position: relative;
}
.tradingBtn:hover {
  background-color: #093687;
}
.tradingBtn:active::after {
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: #c1c1c1;
  opacity: 10%;
}
